<p>
<% if (photo.natgeo) { %><a href="<%= photo.natgeo %>" rel="alternate">National Geographic</a>, <% } %><% if (photo.flickr) { %><a href="<%= photo.flickr %>" rel="alternate">Flickr</a><% } %><% if (photo['500px']) { %>, <a href="<%= photo['500px'] %>" rel="alternate">500px</a><% } %><% if (photo.instagram) { %>, <a href="<%= photo.instagram %>" rel="alternate">Instagram</a><% } %>
</p>
