<%
  prev = post.prev
  next = post.next

  while (prev && prev.layout != post.layout) {
    prev = prev.prev || null;
  }

  while (next && next.layout != post.layout) {
    next = next.next || null;
  }
%>
<% if (prev || next) { %>
  <nav>
    <% if (prev) { %>
      <a href="<%- config.root %><%- prev.path %>" rel="next" data-key="left" class="nav-arrow nav-arrow-left" title="Use left and right keys to navigate">&larr; <span class="rm"> Next photo </span></a>
    <% } %>
    <% if (next) { %>
      <a href="<%- config.root %><%- next.path %>" rel="prev" data-key="right" class="nav-arrow nav-arrow-right" title="Use left and right keys to navigate"><span class="rm"> Previous photo</span> &rarr;</a>
    <% } %>
  </nav>
<% } %>
