/* ==========================================================================
 Reset
 ========================================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, b, i, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

article, aside, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

ins, mark {
  background-color: #ff9;
  text-decoration: none;
}

button {
  overflow: visible;
  font-size: 1em;
  padding: 0;
}

input, select {
  vertical-align: middle;
}


/* ==========================================================================
 Tools
 ========================================================================== */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.relative {
  position: relative;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Hide visually, but keep available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  &  h5bp.com/v*/
.rm {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

del,
.strike {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

button {
  overflow: visible;
  font-size: 1em;
  padding: 0;
}

.hide {
  display: none;
}

strong, .strong, b, th, dt, label {
  font-weight: bold;
}

i, em, .italic, blockquote, cite, q {
  font-style: italic;
}

.norm {
  font-weight: normal;
}

blockquote em, blockquote cite, blockquote i {
  font-variant: normal;
}

/* ==========================================================================
 Typography
 16px / 32px / 64px line heights
 ========================================================================== */

body {
  font-size: 1.5em; /* 24px */
  line-height: 1.3333333em;  /* 24px/32px default */
  color: #555;
  background: #fff;
  font-family: "adobe-caslon-pro", "adobe-caslon-pro-1", "adobe-caslon-pro-2", Georgia, Times, "Times New Roman", serif;
  text-rendering: optimizeLegibility;
}

@media all and (max-width: 620px) {
  body {
    font-size: 1.25em;
  }
}

textarea, .sans {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #000;
}

p, ul, ol, dl, table {
  margin-bottom: 1.33333333em;
  line-height: 1.33333333em;
}

ul ul, ol ol, ol ul, ul ol, dl dl, dl ul, dl ol, ul dl, ol dl {
  margin-bottom: 0;
}

/* ==========================================================================
 Base styles
 ========================================================================== */

a {
  color: #000; /* for older browsers */
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: #000;
  text-decoration: underline;
}

/* ==========================================================================
 Structure
 ========================================================================== */

.container {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 840px) {
  .container {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* ==========================================================================
 Header
 ========================================================================== */

.masthead {
  position: relative;
  margin: 42px auto 54px;
  text-align: center;
}

.masthead-title {
  color: #000;
  letter-spacing: 0.05em;
}

.masthead-title-middot {
  position: relative;
  top: 3px;
}

.masthead-link,
.masthead-link:hover,
.masthead-link:focus {
  text-decoration: none;
}

.masthead-link:hover .masthead-title,
.masthead-link:focus .masthead-title {
  border-bottom: 3px solid;
}

.title {
  -webkit-font-feature-settings: "calt", "liga";
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-weight: bold;
}

.page-title {
  max-width: 780px;
  margin: 0 auto;
  padding: 12px 20px 0;
  font-size: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-content-title {
  color: #333;
  font-size: 2.6666666667em; /* 64px/24px */
  line-height: 1.25; /* 80/64px */
  margin: 1.375em auto 0.84375em; /* 88/64px,  88/54px */
  text-align: center;
}

.photo-title {
  margin: 42px 0 24px;
  text-align: left;
  font-size:  1.75em;
}

@media all and (max-width: 620px) {
  .main-content-title {
    font-size: 2em;
    padding: 0;
  }
}

/* ==========================================================================
 Listings
 ========================================================================== */

.listing {
  width: 790px;
  margin: 0 auto;
}

.listing-item {
  width: 25%;
  float: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.listing-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.listing-image-link {
  display: block;
  line-height: 0;
  position: relative;
  height: 0;
  padding-top: 100%;
}

@media all and (max-width: 840px) {
  .listing {
    width: auto;
    margin: auto 30px;
  }
}

@media all and (max-width: 540px) {
  .listing {
    margin: auto 20px;
  }
}

/* ==========================================================================
 Footer
 ========================================================================== */

.site-footer {
  padding: 0 30px 1.66666667em; /* 32/24px */
  clear: both;
  margin: 2em 0 0;
}

.site-footer p {
  margin-bottom: 5px;
}

.site-footer-content-wrapper {
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
}

/* ==========================================================================
 Pages
 ========================================================================== */

.article-content {
  margin: 42px 0;
  padding: 0 20px;
}

/* ==========================================================================
 Photos
 ========================================================================== */

.single-photo {
  margin-top: -42px;
  padding-top: 42px;
  padding-bottom: 24px;
}

.photo-image {
  max-width: 100%;
}

.photo-image-wrapper {
  margin: 0 -40px;
  min-height: 300px;
  position: relative;
}

@media all and (max-width: 880px) {
  .photo-image-wrapper {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.photo-meta {
  font-size: 0.75em;
}

.photo-footer {
  line-height: 1em;
  margin-bottom: 24px;
}

/* ==========================================================================
 Photo navigation
 ========================================================================== */

.nav-arrow {
  display: block;
  font-size: 30px;
  line-height: 32px;
  position: absolute;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
  top: 48%;
}

.wf-active .nav-arrow {
  padding-top: 12px;
}

.nav-arrow:hover,
.nav-arrow:focus {
  text-decoration: none;
  background: #eee;
  outline: none;
}

.nav-arrow-left {
  left: -100px;
}

.nav-arrow-right {
  right: -100px;
}

@media all and (max-width: 1140px) {

  .photo-image-wrapper {
    margin-bottom: 102px;
  }

  .nav-arrow {
    bottom: -60px;
    background: #fafafa;
    top: auto;
  }

  .nav-arrow-left {
    left: 50%;
    margin-left: -60px;
  }

  .nav-arrow-right {
    right: 50%;
    margin-right: -60px;
  }
}
