/* ==========================================================================
 Reset
 ========================================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, b, i, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

article, aside, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

ins, mark {
  background-color: #ff9;
  text-decoration: none;
}

button {
  overflow: visible;
  font-size: 1em;
  padding: 0;
}

input, select {
  vertical-align: middle;
}


/* ==========================================================================
 Tools
 ========================================================================== */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.relative {
  position: relative;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Hide visually, but keep available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  &  h5bp.com/v*/
.rm {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1;
}

del,
.strike {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

button {
  overflow: visible;
  font-size: 1em;
  padding: 0;
}

.hide {
  display: none;
}

strong, .strong, b, th, dt, label {
  font-weight: bold;
}

i, em, .italic, blockquote, cite, q {
  font-style: italic;
}

.norm {
  font-weight: normal;
}

blockquote em, blockquote cite, blockquote i {
  font-variant: normal;
}

/* ==========================================================================
 Typography
 16px / 32px / 64px line heights
 ========================================================================== */

body {
  font-size: 1.25em; /* 20px */
  line-height: 1.3333333em;  /* 24px/32px default */
  color: #555;
  background: #fff;
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

@media all and (max-width: 620px) {
  body {
    font-size: 1.25em;
  }
}

h2, h3, h4, h5, h6 {
  color: #000;
}

h1, h2, h3, h4, h5, h6,
.masthead {
  font-family: "neuzeit-grotesk", "Helvetica Neue", Arial, sans-serif;
}

p, ul, ol, dl, table {
  margin-bottom: 1.33333333em;
  line-height: 1.33333333em;
}

ul ul, ol ol, ol ul, ul ol, dl dl, dl ul, dl ol, ul dl, ol dl {
  margin-bottom: 0;
}

/* ==========================================================================
 Base styles
 ========================================================================== */

a {
  color: #000; /* for older browsers */
  color: inherit;
}

a:hover,
a:focus,
a:active {
  color: #000;
  text-decoration: underline;
}

/* ==========================================================================
 Structure
 ========================================================================== */

.container {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 840px) {
  .container {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

/* ==========================================================================
 Header
 ========================================================================== */

.masthead {
  position: relative;
  margin-top: 80px;
  font-size: 1.6em;
  line-height: 1em;
}

.masthead-home {
  overflow: hidden;
  width: 485px;
  margin-top: 100px;
  margin-bottom: 60px;
}

@media all and (max-width: 840px) {
  .masthead {
    margin-left: 30px;
    margin-right: 30px;
  }

  .masthead-home {
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 540px) {
  .masthead-home {
    overflow: visible;
    text-align: center;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.masthead-title {
  font-weight: bold;
  color: #000;
}

.masthead-subtitle {
  color: #aaa;
}

.masthead-link {
  text-decoration: none;
}

.masthead-link:hover,
.masthead-link:focus {
  color: #aaa;
}

.masthead-logo {
  float: right;
  max-width: 100%;
}

@media all and (max-width: 540px) {
  .masthead-logo {
    float: none;
  }
}

.title {
  -webkit-font-feature-settings: "calt", "liga";
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-weight: bold;
}

.main-content-title {
  color: #000;
  font-size: 2.6666666667em; /* 64px/24px */
  line-height: 1.25; /* 80/64px */
  margin: 1.375em 0 0.84375em -40px; /* 88/64px,  88/54px */
  font-size:  1.75em;
}

.photo-title,
.page-title {
  margin: 0 0 24px;
}

/* ==========================================================================
 Index
 ========================================================================== */

.home-pullout {
  margin-bottom: 60px;
  background: #eee;
  padding: 40px;
}

.home-pullout-left {
  width: 50%;
  float: left;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home-pullout-right {
  width: 50%;
  float: right;
  margin-bottom: 30px;
}

@media all and (max-width: 640px) {
  .home-pullout-left,
  .home-pullout-right {
    float: none;
    width: auto;
  }
}

.home-pullout-signature {
  margin-top: 40px;
  opacity: 0.6;
}

/* Galleries
 ========================================================================== */

.gallery-title {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 40px;
}

/* ==========================================================================
 Listings
 ========================================================================== */

.listing {
  margin: 0 -40px;
}

.listing-item {
  width: 25%;
  float: left;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (max-width: 540px) {
  .listing-item {
    width: 33.33333%;
  }
}

.listing-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.listing-image-link {
  display: block;
  line-height: 0;
  position: relative;
  height: 0;
  padding-top: 100%;
  background: #eee;
}

@media all and (max-width: 840px) {
  .listing {
    width: auto;
    margin: auto -5px;
  }
}

@media all and (max-width: 540px) {
  .listing-item {
    padding: 1%;
  }
}

/* ==========================================================================
 Footer
 ========================================================================== */

.site-footer {
  font-size: 0.8em;
  padding: 60px 0 1.66666667em; /* 32/24px */
  clear: both;
  margin: 2em 0 0;
}

.site-footer p {
  margin-bottom: 5px;
}

.site-footer a {
  text-decoration: none;
}

.site-footer a:hover,
.site-footer a:focus {
  text-decoration: underline;
}

.footer-logo {
  opacity: 0.6;
  margin-left: -34px;
  margin-bottom: -22px;
}

@media all and (max-width: 840px) {
  .footer-logo {
    visibility: hidden;
  }
}

/* ==========================================================================
 Photos
 ========================================================================== */

.photo-image {
  max-width: 100%;
  max-height: 860px;
  text-align: center;
}

.photo-image-wrapper {
  min-height: 100px;
  background: #eee;
  position: relative;
  line-height: 0;
  text-align: center;
}

.photo-beyond-margins {
  margin: 0 -40px;
}

.article-tag-list {
  margin-bottom: 0;
}

.article-tag-list-item {
  display: inline;
  margin-right: 1em;
}

@media all and (max-width: 540px) {
  .article-tag-list-item {
    display: block;
  }
}

@media all and (max-width: 880px) {
  .photo-beyond-margins {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.photo-content {
  margin-top: 42px;
}

.photo-meta {
  font-size: 0.75em;
}

.photo-footer {
  line-height: 1em;
  margin-bottom: 24px;
}

/* ==========================================================================
 Photo navigation
 ========================================================================== */

.nav-arrow {
  display: block;
  font-size: 30px;
  line-height: 23px;
  position: absolute;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  top: 48%;
}

.nav-arrow:hover,
.nav-arrow:focus {
  text-decoration: none;
  background: #eee;
  outline: none;
}

.nav-arrow-left {
  left: -100px;
}

.nav-arrow-right {
  right: -100px;
}

@media all and (max-width: 1140px) {

  .single-photo .photo-image-wrapper {
    margin-bottom: 102px;
  }

  .nav-arrow {
    bottom: -60px;
    background: #fafafa;
    top: auto;
  }

  .nav-arrow-left {
    left: 50%;
    margin-left: -60px;
  }

  .nav-arrow-right {
    right: 50%;
    margin-right: -60px;
  }
}
