<% posts = page.posts || site.posts.sort('date', -1) %>
<section class="listing listing-<%= type %> clearfix">
  <ol>
    <% posts.each(function(post){ %>
      <% if (post.layout == type) { %>
        <%- partial('_partial/listing/' + type, {post: post}) %>
      <% } %>
    <% }) %>
  </ol>
</section>
