<section class="listing listing-images clearfix">
  <ol>
    <% page.posts.each(function(post){ %>
      <% if (post.layout == type) { %>
        <%- partial('_partial/listing/' + type, {post: post}) %>
      <% } %>
    <% }) %>
  </ol>
</section>
