<%
  posts = page.posts || site.posts.sort('date', -1);
  posts = posts.filter(function(post){ return post.layout == type });

  if (typeof limit === "number") {
    posts = posts.limit(limit);
  }
%>
<section class="listing listing-<%= type %> clearfix">
  <ol>
    <% posts.each(function(post){ %>
      <%- partial('_partial/listing/' + type, {post: post}) %>
    <% }) %>
  </ol>
</section>
