<footer class="site-footer">
  <div class="container">
    <img class="footer-logo" src="/images/paul-logo-descender-regular-264.png" width="132" alt="Paul Hayes Photography logo, 'Paul' written in the style of a landscape"/>
    <p>
      &copy; <%= date(new Date(), 'YYYY') %> <a href="https://paulrhayes.com">Paul Hayes</a> &mdash; <a href="/contact">Contact</a>
    </p>
    <p>
      <a href="https://twitter.com/phayesphoto" rel="me">@phayesphoto</a>
      &bull;
      <a href="https://flickr.com/prhayes" rel="me">Flickr</a>
      &bull;
      <a href="https://500px.com/FofR" rel="me">500px</a>
      &bull;
      <a href="https://www.facebook.com/photography.paulhayes">Facebook</a>
      &bull;
      <a href="https://sam-and-paul.com" rel="me">Travel&nbsp;blog</a>
    </p>
    <p>Purple Hayes Ltd. VAT registration 291 576 276</p>
  </div>
</footer>
