<footer class="site-footer">
  <div class="site-footer-content-wrapper">
    <p>
      <a href="http://twitter.com/fofr" rel="me">Twitter</a>
      &bull;
      <a href="http://flickr.com/prhayes" rel="me">Flickr</a>
      &bull;
      <a href="http://500px.com/FofR" rel="me">500px</a>
      &bull;
      <a href="https://www.facebook.com/photography.paulhayes">Facebook</a>
      &bull;
      <a href="http://sam-and-paul.com" rel="me">Travel&nbsp;blog</a>
    </p>
    <p>
      &copy; <%= date(new Date(), 'YYYY') %> <a href="http://paulrhayes.com">Paul Hayes</a> &mdash; <a href="/contact">Contact</a></p>
  </div>
</footer>
