<header class="masthead container">
  <a href="/" class="masthead-link">
    <img class="masthead-logo" src="/images/logo.png" width="250"/><br />
    <span class="masthead-title">paul hayes<span class="masthead-title-middot"> &middot; </span>photography</span>
  </a>
</header>
