<nav class="site-nav" role="navigation">
  <div class="container">
    <% if (!is_home()) { %>
      <a href="/" class="site-home strong">
        Paul Hayes Photography
      </a><% } %>
    <div class="site-parts">
      <a href="/albums/">Albums</a>
      <a href="/photos/">Photos</a>
      <a href="/blog/">Blog</a>
      <a href="/contact/">Contact</a>
    </div>
  </div>
</nav>
<% if (is_home()) { %>
  <header class="masthead container">
    <h1>
      <img src="/images/logo-black.svg" class="logo" alt="Paul Hayes Photography logo"/>
      <span class="rm">Paul Hayes Photography</span>
    </h1>

  </header>
<% } %>
