<% photos = getPhotosBySlug(['thirlmere']); %>
<main role="main">
  <div class="clearfix container home-pullout">
    <div class="home-pullout-left">
      <% for (var i = 0, l = photos.length; i < l; i++) {
        photo = photos[i];
      %>
        <div class="photo-image-wrapper">
          <a href="<%= photo.path %>">
            <img src="<%= photo.image %>" class="photo-image" alt="<%= photo.title %>" />
          </a>
        </div>
      <% } %>
    </div>
    <div class="home-pullout-right">
      <p><strong>Paul Hayes is a landscape and wildlife photographer in Sussex.</strong></p>

      <p>Prints and licenses available on request, <a href="/contact">get&nbsp;in&nbsp;touch</a>.</p>

      <p>Follow Paul Hayes on <a href="https://twitter.com/phayesphoto">Twitter</a>, <a href="https://www.flickr.com/photos/prhayes">Flickr</a>, <a href="https://500px.com/fofr">500px</a> and <a href="https://instagram.com/fofr/">Instagram</a>.</p>
    </div>
  </div>

  <div class="container">
    <h2 class="home-gallery-title main-content-title page-title text-center">Most recent</h2>

    <%- partial('_partial/archive') %>
  </div>
</main>
