<main role="main">
  <article class="container article h-entry">
    <header class="article-header">
      <h1 class="main-content-title page-title entry-title p-name">
        <%= page.title %>
      </h1>
    </header>
    <%- partial('_partial/archive', {type: type}) %>
  </article>
</main>
